# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configurations and tasks you actually want to
# keep. In that case, should gitignore directory personal settings (e.g. .vscode/settings.json)
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/

# Android related
**/android/app/src/main/res/values/strings.xml
**/android/key.properties
**/android/app/google-services.json
**/android/local.properties
**/android/gradlew
**/android/gradlew.bat
**/android/gradle/wrapper/gradle-wrapper.jar
**/android/.gradle/
**/android/captures/
**/android/gen/
**/android/asset/
**/android/bin/
**/android/out/
**/android/proguard-project.txt
**/android/project.properties

# iOS/macOS related
**/ios/Runner/GeneratedPluginRegistrant.h
**/ios/Runner/GeneratedPluginRegistrant.m
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh
**/ios/Flutter/App.framework
**/ios/Flutter/App.podspec
**/ios/Flutter/App.framework.zip
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Flutter.framework.zip
**/ios/Pods/
**/ios/.symlinks/
**/ios/Flutter/ephemeral/
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh
**/ios/Flutter/GeneratedPluginRegistrant.h
**/ios/Flutter/GeneratedPluginRegistrant.m
**/ios/Flutter/GeneratedPluginRegistrant.swift
**/ios/Runner/GeneratedPluginRegistrant.h
**/ios/Runner/GeneratedPluginRegistrant.m
**/ios/Runner/GeneratedPluginRegistrant.swift

# Symbols and data for logging and profiling
dart_crash.txt
flutter_*.png
flutter_*.js
symbol_map.json
